<!-- The content below is only a placeholder and can be replaced.-->
<nav class="">
  <mat-sidenav-container class="nav-container">
    <mat-sidenav mode="side" opened="true">
      <mat-nav-list class="bg-warning">
        <a mat-list-item routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../assets/logo_transparent.png" alt="logo" class="logo" width="100px">
         </a>
         <div>
           <hr>
         </div>
        <a mat-list-item routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
        <a mat-list-item routerLink="/help" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Help</a>
        <a mat-list-item routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</a>
        <a mat-list-item routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Register</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</nav>