<div class='container-fluid'>
    <div class="row justify-content-center" style="padding: 20px;">
        <h1>
            SurveyIt!
        </h1>
    </div>
    <div class="row">
        <div class='col-12 '>
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="../../assets/desk.jpg" class="img-fluid" alt="Delhi Metro">
                    <div class="carousel-caption">
                        <h3>Senl een beslissing nemen met je vrienden?</h3>
                        <h2>Gebruik SurveyIt om snel een poll aan te maken!</h2>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="../../assets/meeting.jpg" class="img-fluid" alt="Bangalore Metro">
                    <div class="carousel-caption">
                        <h3 style="color: black">Iets hier?</h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="../../assets/idea.jpg" class="img-fluid" alt="Channai Metro">
                    <div class="carousel-caption">
                        <h3>Nog iets hier</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
